.msg {
    margin: 0;
    padding: 0.25em 0.5em;
}

.msg--status {
    /* a light yellow */
    background-color: #a19700;
}

.msg--message {
    /* a light blue */
    background-color: #021218;
}

.msg--error {
    background-color: rgb(122, 0, 20);
}